html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #0f0f0f;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin: 0 auto;
    padding: 0 28px;
}


/*
******************************************
************* Header section *************
******************************************
*/

.header {
    position: fixed;
    width: 100%;
    background-color: #0f0f0f;
    padding-top: 53px;
    z-index: 100;
}

.burger__menu {
    position: relative;
    width: 30px;
    height: 9px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 32px;
    outline: none;
}

.burger__menu span {
    background-color: #fff;
    width: 30px;
    height: 2px;
}

.burger__menu::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.burger__menu::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
}

.header__logo {
    display: none;
}

.menu {
    position: absolute;
    top: -150%;
}


/*
*****************************************
************* Offer section *************
*****************************************
*/

.offer {
    padding: 103px 0 158px;
    /* background-color: #0f0f0f; */
}

.offer__inner {
    display: flex;
    flex-direction: column;
}

.offer__subtitle {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.035em;
}

.offer__title {
    text-transform: uppercase;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.035em;
    color: #fff;
    margin-bottom: 14px;
}

.offer__title span {
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    display: block;
}

.order__btn {
    width: 171px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 1px solid #FED607;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.035em;
    text-transform: capitalize;
    border-radius: 3px;
}

.products__inner {
    position: relative;
    width: 459px;
    height: 459px;
    border: 1px solid #3A3939;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 16px;
}

.device__items {
    position: absolute;
    top: 1px;
    left: 1px;
}

.product-1 {
    position: absolute;
    right: 176px;
    top: -35px;
}

.product-1 span {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.035em;
    color: #fff;
}

.product-1 span::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 15px;
    background-image: url('../images/device-vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -28px;
    left: -54px;
    transform: rotate(2deg);
}

.product-1 span::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 4px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 19px 3px #FFFFFF;
    bottom: -21px;
    left: -12px;
}

.product-2 {
    position: absolute;
    left: 31px;
    top: 67px;
}

.product-2 span {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.035em;
    color: #fff;
}

.product-2 span::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 15px;
    background-image: url('../images/device-vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -28px;
    left: -41px;
    transform: rotate(-50deg);
}

.product-2 span::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 4px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 19px 3px #FFFFFF;
    bottom: -26px;
    left: -3px;
}

.product-3 {
    position: absolute;
    left: 5px;
    bottom: 208px;
}

.product-3 span {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.035em;
    color: #fff;
}

.product-3 span::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 15px;
    background-image: url('../images/device-vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -19px;
    left: -49px;
    transform: rotate(269deg);
}

.product-3 span::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 4px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 19px 3px #FFFFFF;
    bottom: -21px;
    left: -10px;
}

.product-4 {
    position: absolute;
    right: 173px;
    bottom: -57px;
}

.product-4 span {
    display: block;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.035em;
    color: #fff;
    text-align: center;
    width: 175px;
}

.product-4 span::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 15px;
    background-image: url('../images/device-vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 55px;
    left: 38px;
    transform: rotate(195deg);
}

.product-4 span::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 4px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 19px 3px #FFFFFF;
    bottom: 52px;
    left: 79px;
}


/*
**********************************************
************* Statistics section *************
**********************************************
*/

.statistics {
    /* background-color: #0f0f0f; */
    padding: 0 0 158px;
    color: #fff;
}

.statistics__title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.statistics__title span {
    display: block;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
}

.statistics__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 9px;
    border-bottom: 1px solid #fff;
    height: 57px;
}

.statistics__item+.statistics__item {
    margin-top: 9px;
}

.item__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    width: 147px;
}

.item__num {
    white-space: pre;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.line__bottom {
    border-width: 1px;
    width: 100%;
    display: none;
}


/*
********************************************
************* Loyalty section **************
********************************************
*/

.loyalty {
    padding: 0 0 158px;
    /* background-color: #0f0f0f; */
    color: #fff;
}

.loyalty__title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    margin-bottom: 44px;
}

.loyalty__title span {
    display: block;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
}

.loyalty__item {
    display: flex;
    align-items: center;
    min-height: 40px;
    border-left: 1px solid #fff;
    transition: all .8s ease;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.loyalty__item:hover {
    border: 1px solid #FED607;
    padding: 32px 0;
}

.loyalty__item-text {
    padding-left: 12px;
    max-width: 286px;
}

.loyalty__item+.loyalty__item {
    margin-top: 40px;
}

.loyalty__card-wrapper {
    margin-top: 79px;
}

.loyalty__card {
    margin: 0 auto;
}

.loyalty__card-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
}


/*
********************************************
************* Partners section *************
********************************************
*/

.partners {
    /* background-color: #0f0f0f; */
    padding: 0 0 158px;
    color: #fff;
    position: relative;
}

.smoke-img {
    position: absolute;
    top: -427px;
    right: 1px;
    min-width: 1000px;
}

.partners__title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.partners__title span {
    display: block;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
}

.partners__logo-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.partners__logo-item {
    width: 92px;
    height: 92px;
    border: 1px solid rgba(254, 214, 7, 0.3);
    border-radius: 50%;
    margin-top: 20px;
}

.partners__logo-item+.partners__logo-item {
    margin-left: 20px;
}

.logo-item-1 {
    background: url('../images/partner-logo-1.png') no-repeat center;
}

.logo-item-2 {
    background: url('../images/partner-logo-2.png') no-repeat 12px center;
}

.logo-item-3 {
    background: url('../images/partner-logo-3.png') no-repeat center;
}

.logo-item-4 {
    background: url('../images/partner-logo-4.svg') no-repeat center;
}

.logo-item-5 {
    background: url('../images/partner-logo-5.png') no-repeat 2px center;
}


/*
********************************************
************* Feedback section *************
********************************************
*/

.title__wrapper {
    width: 270px;
    margin: 0 auto 50px;
}

.feedback__title {
    position: relative;
    color: #fff;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    text-align: center;
    padding-left: 53px;
}

.feedback__title:before {
    content: '';
    position: absolute;
    width: 79px;
    height: 79px;
    top: -6px;
    left: -15px;
    background-image: url('../images/feedback-logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.form .input {
    width: 100%;
    height: 51px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    color: #595656;
    padding: 0 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.035em;
}

.form .input+.input {
    margin-top: 12px;
}

.submit__btn {
    width: 171px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 1px solid #FED607;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.035em;
    text-transform: capitalize;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    margin: 68px auto 0;
}